root {
    --text-color: #99b5d6;
    --card-front-color: #144480;
    --card-back-color: #dadada;
}

    body {
    background: ur1('img/bg-desktop-webp');
    font-family: Bai Janjuree;
    }

    #container {
     display: flex; 
     flex-wrap: wrap;
    justify-contest: space-between;
    padding: 4nem;
    gap: 3rem;
    }

    •cartao {
    margin: 1rem 1rem; 
    height: eight: 2erem; 
    flex-grow: 1;
    flex-basis: calc(33% - 6rem);
    }

    •cartao, conteudo {
    background-color: var(--card-front-color);
    text-align: center)
    / backgnound-color: aquamarine; */
     height: 100%;
    transform-style: preserve.3d;